<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>

  <%= form_tag(admin_content_merge_url, method: "post") do %>
    <h4><%= _("Merge Articles") %></h4>
    <input name="merge_with" />
    <input name="merge" type="submit" value="Merge"/>
  <% end %>

